<%page args="action_item_count, course_overview, enrollment, entitlement, entitlement_session, course_card_index, is_unfulfilled_entitlement, is_fulfilled_entitlement, entitlement_available_sessions, entitlement_expiration_date, entitlement_expired_at, show_courseware_link, cert_status, can_refund_entitlement, can_unenroll, credit_status, show_email_settings, course_mode_info, is_paid_course, verification_status, course_requirements, dashboard_index, share_settings, related_programs, display_course_modes_on_dashboard, show_consent_link, enterprise_customer_name, resume_button_url, partner_managed_enrollment" expression_filter="h"/>

<%!
import datetime
import six

from django.conf import settings
from django.utils.http import urlencode, urlquote_plus
from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.urls import reverse
from common.djangoapps.course_modes.models import CourseMode
from common.djangoapps.course_modes.helpers import enrollment_mode_display
from lms.djangoapps.verify_student.services import IDVerificationService
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
from openedx.features.course_experience import course_home_url_name
from common.djangoapps.student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_RESUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE,
  VERIFY_STATUS_NEED_TO_REVERIFY,
  DISABLE_UNENROLL_CERT_STATES,
)
from common.djangoapps.util.course import get_link_for_about_page, get_encoded_course_sharing_utm_params
from lms.djangoapps.experiments.utils import UPSELL_TRACKING_FLAG
%>

<%
  reverify_link = IDVerificationService.get_verify_location('verify_student_reverify')
  cert_name_short = course_overview.cert_name_short
  if cert_name_short == "":
    cert_name_short = settings.CERT_NAME_SHORT

  cert_name_long = course_overview.cert_name_long
  if cert_name_long == "":
    cert_name_long = settings.CERT_NAME_LONG

  is_course_expired = hasattr(show_courseware_link, 'error_code') and show_courseware_link.error_code == 'audit_expired'
%>

<%namespace name='static' file='../static_content.html'/>

<li class="course-item">
  % if display_course_modes_on_dashboard:
    <%
        course_verified_certs = enrollment_mode_display(
            enrollment.mode,
            verification_status.get('status'),
            course_overview.id
        )
    %>
    <%
        mode_class = course_verified_certs.get('display_mode', '')
        if mode_class:
            mode_class = ' ' + mode_class ;
    %>
  % else:
    <% mode_class = '' %>
  % endif
      <div class="course-container"
        % if getattr(course_overview, 'language'):
          lang="${course_overview.language}"
        % endif
      >
<article class="course${mode_class}" aria-labelledby="course-title-${enrollment.course_id}" id="course-card-${course_card_index}">
  <% course_target = reverse(course_home_url_name(course_overview.id), args=[six.text_type(course_overview.id)]) %>
  <section class="details" aria-labelledby="details-heading-${enrollment.course_id}">
      <h2 class="hd hd-2 sr" id="details-heading-${enrollment.course_id}">${_('Course details')}</h2>
    <div class="wrapper-course-image" aria-hidden="true">
      % if show_courseware_link and not is_unfulfilled_entitlement:
        % if not is_course_expired:
            <!--a href="${course_target}" data-course-key="${enrollment.course_id}" class="cover course-target-link" tabindex="-1"-->
            <a href="/journal/${course_overview.id}/courseware" data-course-key="${enrollment.course_id}" class="cover course-target-link" tabindex="-1">
              <img src="${course_overview.image_urls['small']}" class="course-image" alt="${_('{course_number} {course_name} Home Page').format(course_number=course_overview.number, course_name=course_overview.display_name_with_default)}" />
            </a>
        % else:
            <a class="fade-cover">
              <img src="${course_overview.image_urls['small']}" class="course-image" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course_overview.number, course_name=course_overview.display_name_with_default)}" />
            </a>
        % endif
      % else:
        <a class="cover">
          <img src="${course_overview.image_urls['small']}" class="course-image" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course_overview.number, course_name=course_overview.display_name_with_default)}" />
        </a>
      % endif
      % if display_course_modes_on_dashboard and course_verified_certs.get('display_mode') != 'audit':
        <span class="sts-enrollment" title="${course_verified_certs.get('enrollment_title')}">
          <span class="label">${_("Enrolled as: ")}</span>
          % if course_verified_certs.get('show_image'):
              <img class="deco-graphic" src="${static.url('images/verified-ribbon.png')}" alt="${course_verified_certs.get('image_alt')}" />
          % endif
          <div class="sts-enrollment-value">${course_verified_certs.get('enrollment_value')}</div>
        </span>
      % endif
    </div>
      <div class="wrapper-course-details">
       <div class="mainTilesec">
        <h3 class="course-title" id="course-title-${enrollment.course_id}">
          % if show_courseware_link and not is_unfulfilled_entitlement:
            % if not is_course_expired:
              <!--a data-course-key="${enrollment.course_id}" href="${course_target}" class="course-target-link">${course_overview.display_name_with_default}</a-->
	      <a data-course-key="${enrollment.course_id}" href="/journal/${enrollment.course_id}/courseware" class="course-target-link">${course_overview.display_name_with_default}</a>
            % else:
              <a class="disable-look" data-course-key="${enrollment.course_id}">${course_overview.display_name_with_default}</a>
            % endif
          % else:
            <span>${course_overview.display_name_with_default}</span>
          % endif
        </h3>
        <p class="ishaName">Isha_Foundation</p>
        </div>
        <div class="tileVCourseInfo">
         <div class="course-info">
          <span  class="info-university">${course_overview.chapter_count} ${_("Chapters")} - </span> <!--sambaash added-->
          <span  class="info-university">${course_overview.vertical_count} ${_("Lessons")} - </span>
          <span class="info-university">${action_item_count} ${_("Action Items")}</span>

          <!--sambaash added-->
         <!--  <span class="info-university">${course_overview.display_org_with_default} - </span> -->
          <!-- <span class="info-course-id">${course_overview.display_number_with_default}</span> -->
          <%
            enrollment_date = course_overview.self_paced and enrollment and enrollment.created
            if course_overview.start_date_is_still_default:
                container_string = _("Coming Soon")
                course_date = None
            else:
                format = 'shortDate'
                dashboard_start_display = course_overview.dashboard_start_display
                if course_overview.has_ended():
                    container_string = _("Ended - {date}")
                    course_date = course_overview.end
                elif course_overview.has_started():
                    container_string = _("Started - {date}")
                    if enrollment_date and isinstance(dashboard_start_display, datetime.datetime):
                      course_date = max(enrollment_date, dashboard_start_display)
                    else:
                      course_date = enrollment_date or dashboard_start_display
                elif course_overview.starts_within(days=5):
                    container_string = _("Starts - {date}")
                    course_date = dashboard_start_display
                    format = 'defaultFormat'
                else: ## hasn't started yet
                    container_string = _("Starts - {date}")
                    course_date = dashboard_start_display
                endif
            endif
          %>

        <div class="wrapper-course-actions wrapper-journal-actions">
          <div class="course-actions">
            % if (show_courseware_link or is_unfulfilled_entitlement) and not is_course_expired:
              % if course_overview.has_ended():
                % if not is_unfulfilled_entitlement:
                  <a href="/journal/${course_overview.id}/courseware" class="enter-course archived course-target-link" data-course-key="${enrollment.course_id}">${_('View Notes')}<span class="sr">&nbsp;${course_overview.display_name_with_default}</span></a>
                % endif

              % else:
                <%include file="_dashboard_course_resume.html" args="resume_button_url=resume_button_url, course_overview=course_overview, enrollment=enrollment, is_unfulfilled_entitlement=is_unfulfilled_entitlement, course_target=course_target, related_programs=related_programs"/>
              % endif
            % endif

            % if show_courseware_link or course_overview.has_social_sharing_url() or course_overview.has_marketing_url():

                % if share_settings:
                    <%
                      share_url = get_link_for_about_page(course_overview)
                      encoded_utm_parameters = get_encoded_course_sharing_utm_params()
                      share_window_name = 'shareWindow'
                      share_window_config = 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=640, height=480'
                    %>
                    % if share_settings.get('DASHBOARD_FACEBOOK', False):
                        <%
                          facebook_share_url = u"{url}?{utm_params}".format(url=share_url, utm_params=encoded_utm_parameters['facebook'])
                          share_text = _("I'm taking {course_name} online with {facebook_brand}. Check it out!").format(course_name=course_overview.display_name_with_default, facebook_brand=share_settings.get('FACEBOOK_BRAND', 'edX.org'))
                          query_params = urlencode((('u', facebook_share_url), ('quote', share_text),))
                          facebook_url = 'https://www.facebook.com/sharer/sharer.php?{query}'.format(query=query_params)
                          share_msg = _("Share {course_name} on Facebook").format(course_name=course_overview.display_name_with_default)
                        %>
                        <a
                          data-tooltip="${_('Share on Facebook')}"
                          data-trigger="focus hover"
                          class="action action-facebook"
                          href="${facebook_url}"
                          rel="noopener"
                          target="_blank"
                          title="${_('Share on Facebook')}"
                          data-course-id="${course_overview.id}"
                          onclick="var popupWindow = window.open('${facebook_url}', '${share_window_name}', '${share_window_config}'); popupWindow.opener = null; return false;">
                          <span class="sr">${share_msg}</span>
                          <span class="fa fa-facebook" aria-hidden="true"></span>
                        </a>
                    % endif
                    % if share_settings.get('DASHBOARD_TWITTER', False):
                        <%
                          twitter_share_url = u"{url}?{utm_params}".format(url=share_url, utm_params=encoded_utm_parameters['twitter'])
                          default_share_text = _("I'm taking {course_name} online with {twitter_brand}. Check it out!").format(course_name=course_overview.display_name_with_default, twitter_brand=share_settings.get('TWITTER_BRAND', '@edxonline'))
                          share_text = urlquote_plus(share_settings.get('DASHBOARD_TWITTER_TEXT', default_share_text))
                          twitter_url = u'https://twitter.com/intent/tweet?text=' + share_text + u'%20' + urlquote_plus(twitter_share_url)
                          share_msg = _("Share {course_name} on Twitter").format(course_name=course_overview.display_name_with_default)
                        %>
                        <a
                          data-tooltip="${_('Share on Twitter')}"
                          data-trigger="focus hover"
                          class="action action-twitter"
                          href="${twitter_url}"
                          rel="noopener"
                          target="_blank"
                          title="${_('Share on Twitter')}"
                          data-course-id="${course_overview.id}"
                          onclick="var popupWindow = window.open('${twitter_url}', '${share_window_name}', '${share_window_config}'); popupWindow.opener = null; return false;">
                          <span class="sr">${share_msg}</span>
                          <span class="fa fa-twitter" aria-hidden="true"></span>
                        </a>
                    % endif
                % endif
            % endif

           
          </div>
        </div>
       </div>
      </div>
  </section>
</article>
</div>
</li>

% if share_settings.get('DASHBOARD_FACEBOOK', False) and share_settings.get('DASHBOARD_TWITTER', False):
    <%static:require_module_async module_name="js/course_sharing/course_sharing_events" class_name="CourseSharingEvents">
        CourseSharingEvents("${course_overview.id | n, js_escaped_string}");
    </%static:require_module_async>
%endif

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized-datetime");
</%static:require_module_async>

% if UPSELL_TRACKING_FLAG.is_enabled():
    <%static:require_module_async module_name="js/commerce/track_ecommerce_events" class_name="TrackECommerceEvents">
      if (window.loadedECommerceEvents === undefined) {
        window.loadedECommerceEvents = true;

        TrackECommerceEvents.trackUpsellClick($(".track_course_dashboard_green_button"), 'course_dashboard_green', {
          pageName: "course_dashboard",
          linkType: "button",
          linkCategory: "green_upgrade"
        });
      }

    </%static:require_module_async>
%endif

