{% extends "main_django.html" %}
{% block title %} Journal Lists {% endblock %}
{% block body %}

                    <!-- HEADER -->
                    <div class="JheaderAssesment">
                        <h2 class="titleIsha">Life Beyond Stress</h2>
                        <p class="importantNotify"><span>Important:</span> Only modules with reflection entry will be shown here.</p>
                    </div>
               
<body class="view-in-course">
    <div class="content-wrapper main-container" id="content" dir="ltr">
        <div class="container" lang="en">
          
            <div class="course-wrapper" role="presentation">
                <div class="accTNWrap">
                    <div class="accordionToggleBtn">Chapters</div>
                </div>
                <div class="course-index itemCourse-index hiddenNav">
                    <div class="accordion">
                        <nav class="course-navigation" aria-label="Course">
                            <a href="#handling-these-challenging-times-child" role="button" class="button-chapter chapter active is-open" id="handling-these-challenging-times-parent" aria-controls="handling-these-challenging-times-child" aria-expanded="true">
                                <span class="group-heading active" aria-label="Handling these Challenging Times current chapter">
                                    <span class="customCIcon icon fa fa-caret-down" aria-hidden="true">
                                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.49999 0C2.46242 0 0 2.46242 0 5.49999C0 8.53756 2.46242 11 5.49999 11C8.53756 11 11 8.53756 11 5.49999C10.9966 2.46386 8.53614 0.00343003 5.49999 0Z" fill="#CF472D"></path>
                                            <path d="M6.78786 5.20445L6.44731 5.50296V3.5792C6.44731 3.12124 6.02378 2.75 5.50133 2.75C4.97888 2.75 4.55534 3.12124 4.55534 3.5792V5.50063L4.21478 5.20212C3.87531 4.91777 3.34075 4.91777 3.00128 5.20212C2.66624 5.49587 2.66624 5.97206 3.00128 6.26582L5.09871 8.10433C5.32036 8.29856 5.67964 8.29856 5.90129 8.10433L7.99872 6.26582C8.33376 5.97206 8.33376 5.49587 7.99872 5.20212C7.6589 4.9199 7.12627 4.92092 6.78786 5.20445Z" fill="#FAFAFA"></path>
                                        </svg>
                                    </span>
                                    Handling these Challenging Times
                                </span>
                            </a>
                            <div class="chapter-content-container is-open" id="handling-these-challenging-times-child" tabindex="-1" role="region" aria-label="Handling these Challenging Times submenu">
                                <div class="chapter-menu is-open" style="display: block;">
                                    <div class="menu-item active ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/d6f18dd62dd047ecb84ac7ae11192f0a/">
                                            <p class="accordion-display-name">How To Equip Yourself For The “Corona Era” <span class="sr">current section</span>
                                            </p>
                                        </a>
                                    </div>
                                    <div class="menu-item  ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/c4c3b6264d4840f4a3587a84b209d5ec/">
                                            <p class="accordion-display-name">Simha Kriya - A Simple but Powerful Yogic Process to Enhance Lung Capacity and Immunity
                                            </p>
                                        </a>
                                    </div>
                                    <div class="menu-item  ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/317e5f0d502843d096ea0c5cc6bc1836/">
                                            <p class="accordion-display-name">What If I Get Coronavirus?
                                            </p>
                                        </a>
                                    </div>
                                    <div class="menu-item  ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/94d99b2ec4874eeea882a7834ee72ba7/">
                                            <p class="accordion-display-name">Making the Most of These Challenging Times
                                            </p>
                                        </a>
                                    </div>
                                    <div class="menu-item  ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/a82e3f0f07304231b6a75df402921ca0/">
                                            <p class="accordion-display-name">Joyfully Embracing Change!
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                            (function(require) {
                                require(['/static/js/courseware/accordion_events.6064c7809de5.js?raw'], function() {
                                    require(['js/courseware/accordion_events'], function(AccordionEvents) {

                                        AccordionEvents();

                                    });
                                });
                            }).call(this, require || RequireJS.require);
                            </script>
                            <script type="text/javascript">
                            (function(require) {
                                require(['/static/js/dateutil_factory.be68acdff619.js?raw'], function() {
                                    require(['js/dateutil_factory'], function(DateUtilFactory) {

                                        DateUtilFactory.transform(iterationKey = ".localized-datetime");

                                    });
                                });
                            }).call(this, require || RequireJS.require);
                            </script>
                        </nav>
                    </div>
                </div>
                <section class="course-content" id="course-content">
                    <header class="page-header has-secondary">
                        <div class="page-header-main">
                            <nav aria-label="Course" class="sr-is-focusable" tabindex="-1">
                                <div class="has-breadcrumbs">
                                    <div class="breadcrumbs">
                                        <span class="nav-item nav-item-chapter" data-course-position="1" data-chapter-position="1">
                                            <a href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware#block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@chapter+block@b691a366f7784dd7af14a54151fa93cb">Handling these Challenging Times</a>
                                        </span>
                                        <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                                        <span class="nav-item nav-item-section">
                                            <a href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware#block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@sequential+block@d6f18dd62dd047ecb84ac7ae11192f0a">How To Equip Yourself For The “Corona Era”</a>
                                        </span>
                                        <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                                        <span class="nav-item nav-item-sequence">How To Equip Yourself For The “Corona Era”</span>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </header>
                    <main id="main" tabindex="-1" aria-label="Content">
                        <div class="xblock xblock-student_view xblock-student_view-sequential xmodule_display xmodule_SequenceModule xblock-initialized" data-course-id="course-v1:Isha_Foundation+WBS_Corona+2021_05_T3" data-type="Sequence" data-init="XBlockToXModuleShim" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="sequential" data-usage-id="block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@sequential+block@d6f18dd62dd047ecb84ac7ae11192f0a" data-request-token="69daf8c3c2dc11ebb407fb52465a99d8" data-graded="False" data-has-score="False">
                            <div id="sequence_d6f18dd62dd047ecb84ac7ae11192f0a" class="sequence" data-id="block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@sequential+block@d6f18dd62dd047ecb84ac7ae11192f0a" data-position="1" data-ajax-url="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/xblock/block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@sequential+block@d6f18dd62dd047ecb84ac7ae11192f0a/handler/xmodule_handler" data-next-url="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/c4c3b6264d4840f4a3587a84b209d5ec/?child=first" data-prev-url="None" data-save-position="true" data-show-completion="true">
                                <div class="sr-is-focusable" tabindex="-1"></div>
                                <div id="seq_content" role="tabpanel" aria-labelledby="tab_0">
                                    <div class="xblock xblock-student_view xblock-student_view-vertical xblock-initialized" data-course-id="course-v1:Isha_Foundation+WBS_Corona+2021_05_T3" data-init="VerticalStudentView" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="vertical" data-usage-id="block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@vertical+block@4326b08311924bfa897009bb8e8983b9" data-request-token="69daf8c3c2dc11ebb407fb52465a99d8" data-graded="False" data-has-score="False">
                                        <div class="vert-mod">
                                            <div class="vert vert-2" data-id="block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@freetextresponse+block@47601e8b73c242929a24941bc7fb11ba">
                                                <div class="xblock xblock-student_view xblock-student_view-freetextresponse xblock-initialized" data-course-id="course-v1:Isha_Foundation+WBS_Corona+2021_05_T3" data-init="FreeTextResponseView" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="freetextresponse" data-usage-id="block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@freetextresponse+block@47601e8b73c242929a24941bc7fb11ba" data-request-token="69daf8c3c2dc11ebb407fb52465a99d8" data-graded="False" data-has-score="True">
                                                    <div class="freetextresponse xmodule_display xmodule_CapaModule problem">
                                                        <div class="word-count-message customTKM">Takeaways </div>
                                                        <div class="capa_inputtype textline">
                                                            <div class="user_input unanswered">
                                                                  <div class="noneditableAsses" contenteditable="false">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim diam quis enim lobortis scelerisque. Interdum consectetur libero id faucibus. Faucibus a pellentesque sit amet porttitor eget dolor. Nec feugiat nisl pretium fusce id velit.
                                                                </div>
                                                             
                                                            </div>
                                                        </div>
                                                        <div class="word-count-message customTKM">Action Items</div>
                                                        <div class="capa_inputtype textline">
                                                            <div class="user_input unanswered">
                                                               
                                                                <div class="noneditableAsses" contenteditable="false">
                                                                    <ul>
                                                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                                                                        <li>Massa massa ultricies mi quis hendrerit.</li>
                                                                         <li>Aliquet risus feugiat in ante metus dictum.</li>
                                                                          <li>Pharetra magna ac placerat vestibulum lectus mauris ultrices eros.</li>
                                                                    </ul>
                                                                </div>
                                                              
                                                            </div>
                                                        </div>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </main>
                </section>
          
            </div>
           
    </div>
{% endblock %}