<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My assesment</title>
    <link rel="stylesheet" href="isha.css">
    <link rel="stylesheet" href="my-journal-isha.css">
</head>

<body class="view-in-course">
  
    <div class="content-wrapper main-container" id="content" dir="ltr">
        <div class="container" lang="en">
             <!-- HEADER -->
                    <div class="JheaderAssesment">
                        <h2 class="titleIsha">My Assesment</h2>
                      
                    </div>

            <div class="course-wrapper" role="presentation">

                <div class="accTNWrap">
                    <div class="accordionToggleBtn myAstoggle">My Assesment</div>
                </div>
                <div class="course-index itemCourse-index hiddenNav">
                    <div class="accordion myAssesment">
                        <nav class="course-navigation" aria-label="Course">
                            <a href="#handling-these-challenging-times-child" role="button" class="button-chapter chapter active is-open" id="handling-these-challenging-times-parent" aria-controls="handling-these-challenging-times-child" aria-expanded="true">
                                <span class="group-heading active" aria-label="Handling these Challenging Times current chapter">
                                    
                                   Assessment Dates
                                    <span class="customAIcon icon fa fa-caret-down" aria-hidden="true">
                                       <svg id="Layer" fill="#cf472d" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m32 8c-1.104 0-2 .896-2 2v39.899l-14.552-15.278c-.761-.799-2.026-.832-2.828-.069-.8.762-.831 2.027-.069 2.827l16.62 17.449c.756.756 1.76 1.172 2.829 1.172 1.068 0 2.073-.416 2.862-1.207l16.586-17.414c.762-.8.73-2.065-.069-2.827-.799-.763-2.065-.731-2.827.069l-14.552 15.342v-39.963c0-1.104-.896-2-2-2z"/></svg>
                                    </span>
                                </span>
                            </a>
                            <div class="chapter-content-container is-open" id="handling-these-challenging-times-child" tabindex="-1" role="region" aria-label="Handling these Challenging Times submenu">
                                <div class="chapter-menu is-open" style="display: block;">
                                    <div class="menu-item active ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/d6f18dd62dd047ecb84ac7ae11192f0a/">
                                            <p class="accordion-display-name">26 May, 2021, 12.56 PM IST
                                            </p>
                                        </a>
                                    </div>
                                    <div class="menu-item  ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/c4c3b6264d4840f4a3587a84b209d5ec/">
                                            <p class="accordion-display-name">25 May, 2021, 11.00 PM IST
                                            </p>
                                        </a>
                                    </div>
                                    <div class="menu-item  ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/317e5f0d502843d096ea0c5cc6bc1836/">
                                            <p class="accordion-display-name">24 May, 2021, 10.15 PM IST
                                            </p>
                                        </a>
                                    </div>
                                    <div class="menu-item  ">
                                        <a class="accordion-nav" href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware/b691a366f7784dd7af14a54151fa93cb/94d99b2ec4874eeea882a7834ee72ba7/">
                                            <p class="accordion-display-name">23 May, 2021, 09.20 PM IST
                                            </p>
                                        </a>
                                    </div>
                                  
                                </div>
                            </div>
                            <script type="text/javascript">
                            (function(require) {
                                require(['/static/js/courseware/accordion_events.6064c7809de5.js?raw'], function() {
                                    require(['js/courseware/accordion_events'], function(AccordionEvents) {

                                        AccordionEvents();

                                    });
                                });
                            }).call(this, require || RequireJS.require);
                            </script>
                            <script type="text/javascript">
                            (function(require) {
                                require(['/static/js/dateutil_factory.be68acdff619.js?raw'], function() {
                                    require(['js/dateutil_factory'], function(DateUtilFactory) {

                                        DateUtilFactory.transform(iterationKey = ".localized-datetime");

                                    });
                                });
                            }).call(this, require || RequireJS.require);
                            </script>
                        </nav>
                    </div>
                </div>
                <section class="course-content" id="course-content">
                    <header class="page-header has-secondary">
                        <div class="page-header-main">
                            <nav aria-label="Course" class="sr-is-focusable" tabindex="-1">
                                <div class="has-breadcrumbs">
                                    <div class="breadcrumbs">
                                        <span class="nav-item nav-item-chapter" data-course-position="1" data-chapter-position="1">
                                            <a href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware#block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@chapter+block@b691a366f7784dd7af14a54151fa93cb">Handling these Challenging Times</a>
                                        </span>
                                        <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                                        <span class="nav-item nav-item-section">
                                            <a href="/courses/course-v1:Isha_Foundation+WBS_Corona+2021_05_T3/courseware#block-v1:Isha_Foundation+WBS_Corona+2021_05_T3+type@sequential+block@d6f18dd62dd047ecb84ac7ae11192f0a">How To Equip Yourself For The “Corona Era”</a>
                                        </span>
                                        <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                                        <span class="nav-item nav-item-sequence">How To Equip Yourself For The “Corona Era”</span>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </header>
                    <section class="preAssesContainer assesmentDatesec about">
                        <h1 id="title">Assessment results and interpretation</h1>
                      
                        <div id="mainDiv" class="preAssesRow" style="border: 0px !important;">
                            <style>table {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;}.td1 {width: 90%;}.td2 {width: 90%;}p {line-height: 1.6;} td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}tr:nth-child(even) {  background-color: #dddddd;}</style><span style="color: #003366;">
                                <p><b>Based on your responses, your scores on various parameters of Wellbeing are as follows: </b></p>
                                
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="td1">Feeling of emotions like joy, positivity &amp; contentment</td>
                                            <td class="td2">3</td>
                                        </tr>
                                        <tr>
                                            <td class="td1">Engagement</td>
                                            <td class="td2">3</td>
                                        </tr>
                                        <tr>
                                            <td class="td1">Feeling of accomplishment</td>
                                            <td class="td2">3</td>
                                        </tr>
                                        <tr>
                                            <td class="td1">Feeling of being loved in relationships</td>
                                            <td class="td2">3</td>
                                        </tr>
                                        <tr>
                                            <td class="td1">Sense of purpose &amp; meaning in life</td>
                                            <td class="td2">3</td>
                                        </tr>
                                        <tr>
                                            <td class="td1">Feeling of emotions like sadness, anger, anxiety or loneliness</td>
                                            <td class="td2">3</td>
                                        </tr>
                                        <tr>
                                            <td class="td1">Impression of own state of health</td>
                                            <td class="td2">3</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="td1">Overall Level of Stress</td>
                                            <td class="td2">3</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p></p>
                                <p><b>The above parameters represent the pillars of Wellbeing. Higher the score on a parameter, more is its presence in your life and its impact on your overall state of wellbeing.</b></p>
                                <p><b>Accordingly, your score on overall state of wellbeing, based on the above parameters is:</b></p>
                                <table>
                                    <tbody>
                                        <tr> </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="td1">Overall Level of Wellbeing</td>
                                            <td class="td2">2.8</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p></p>
                                <p>Thank you for your participation! It seems that currently your life experience, productivity &amp; wellbeing are getting adversely impacted by Stress. It is recommended that you pay attention to yourself and take tangible steps towards your wellbeing.</p>
                                <p>The Modules under 'Work Beyond Stress' along with the Tools for Transformation will be very helpful for you to create an inner balance and enhance your current state of wellbeing.</p>
                                <p><b>Based on your responses &amp; preference, you may begin your navigation journey from:</b></p>
                                <p> 1) "Insight into Stress" chapter under "Life Beyond Stress" module.<br> 2) "Happiness - What they didn't teach you in B-School!" chapter under "Mastering Emotional &amp; Mental Wellbeing" module.</p>
                                <p><b>Disclaimer: Test results on the self-assessment scale do not reflect any particular diagnosis or course of treatment. They are meant as a tool to help assess your current level of Stress and Wellbeing. Should you have any further concerns about your current well-being, you may contact a certified medical physician.</b></p>
                                <p>If you learn to create the right climate in your body, mind, and emotion, your health, wellbeing, and joy - everything will be taken care of. - Sadhguru</p>
                            </span>
                        </div>
                  
                    </section>
                </section>
            </div>
            <script type="text/javascript">
            var buttonChapters = document.querySelector('.accordionToggleBtn');
            var menuAccordion = document.querySelector('.itemCourse-index');
            buttonChapters.addEventListener('click', function(event) {
                if (menuAccordion.classList.contains("hiddenNav")) {
                    menuAccordion.classList.add("blockNav");
                    buttonChapters.classList.add("openAC");
                    menuAccordion.classList.remove("hiddenNav");


                } else if (menuAccordion.classList.contains("blockNav")) {
                    menuAccordion.classList.remove("blockNav");
                    buttonChapters.classList.remove("openAC");
                    menuAccordion.classList.add("hiddenNav");


                }
            });
            </script>
        </div>
</body>

</html>