<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My assesment</title>
    <link rel="stylesheet" href="isha.css">
    <link rel="stylesheet" href="my-journal-isha.css">
</head>

<body>
    <div class="content-wrapper main-container">
        <div class="dashboard">
            <div class="main-container">
                <div class="my-journalWrapper">
                    <div id="assessmentForm" class="preAssesRow" style="border: 0px !important;">
                        <iframe id="idIframe" frameborder="0" width="100%" height="2900" src="https://api.forms.sambaash.com/v2/forms/loader?formId=60187&amp;id=21"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>